.team-page{
  display: flex;
  flex-direction: column;
  background-color: #000000;
}

#team-content {
  color: white;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}