#navbar {
    background-color: #ffffff00; /* Set your desired background color */
    padding: 20px;
    padding-bottom: 80px;
    text-align: right;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: right;
    transition: top 0.5s ease;
}

img{
    max-width: 400px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    height: auto;
  }

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 15px;
}

a {
    font-family: 'Bebas', sans-serif;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.5s
}

a:hover {
    background-size: 200% 100%;
    color: #652D91;
    transition: background-position 0.5s, color 0.5s;
}

a:hover::after {
    background-size: 200% 100%;
    color: #ffffff;
    transition: background-position 0.5s, color 0.5s;
}

section {
    padding: 20px;
    background-color: #000;
    margin-top: 40px;
    color: #ffffff;
}

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/Bebas-Regular.otf') format('opentype');
}
