#navbar, #hamburger{
    background-color: #ffffff00; /* Set your desired background color */
    padding: 20px;
    padding-bottom: 80px;
    text-align: right;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content:flex-end;
    align-items: right;
    transition: top 0.5s ease;
}

#navbar{
    width: 600px;
    right: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 15px;
}

a {
    font-family: 'Bebas', sans-serif;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.5s
}

a:hover {
    background-size: 200% 100%;
    color: #652D91;
    transition: background-position 0.5s, color 0.5s;
}

a:hover::after {
    background-size: 200% 100%;
    color: #ffffff;
    transition: background-position 0.5s, color 0.5s;
}

section {
    padding: 20px;
    background-color: #000;
    margin-top: 40px;
    color: #ffffff;
}

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BebasNeue-Regular.otf') format('opentype');
}
